body{
    div{
        section{
            div{
                &#menu4{
                    text-align: center;
                    button{
                        width: 100%;
                        background-color: rgba(255,255,255,0.5);
                        border: none;
                        padding: 20px;
                        font-size: 20px;
                        outline: 0;
                        margin-bottom: 10px;
                        &:hover{
                            border: 1px solid red;
                        }
                        &.etcBtn{
                            div{
                                // display: none;
                                text-align: center;
                                canvas{
                                    // border: 1px solid blue;
                                    // background-color: #f1f1f1;
                                    padding: 10px;
                                    margin-bottom: 10px;
                                    background-color: #666;
                                }
                                div{
                                    a{  margin: 30px 30px;
                                        padding: 10px 15px 10px 15px;
                                        border: none;
                                        font-weight: bold;
                                        border: 1px solid #555;
                                        &:hover{
                                            background-color: #666;
                                            color: white;
                                        }
                                    }
                                }
                            }
                        }
                        &.etcBtn:focus{
                            div{
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}